
/* ==================================================
   Tabs
================================================== */
.tabs{
	margin-bottom:25px;
}
.nav-tabs.custom_tab {
	border: none;
	background-image: linear-gradient(to bottom, #1e1e1e, #353535 47%, #353535 48%, #000 49%);
	/* background: #F55aff;
	background-image: linear-gradient(to right top, #F55aff, #e93f6e, #e73972, #e43276, #e12b7a); */
}
.nav-tabs li{
	position:relative;
	display:block;
	float:left;
	margin-right:0;
	font-size:13px;
	border-radius: 0;
    width: calc( 100% / 3);
    border-right: 1px solid #000;
}
.nav-tabs li:nth-child(3) {
    border: none;
}
.nav-tabs li a{
	display:block;
	padding:8px 10px;
	background: none;
	text-decoration:none;
	font-family: 'Brandon_light';
	color: #fff;
	font-size: 13pt;
	border-radius: 0;
	border: none;
    border-bottom: 2px solid #a6a6a6;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}
.nav-tabs li a:hover{
	color:#fff;
	text-decoration:none;
	border-color:#F55aff ;
	background: none!important;
}
.nav-tabs li a:active, .nav-tabs li.active a{
	color:#fff;
	border-color:#F55aff ;
}