.tabContent {
    display: none;
    border-top: none;
}

.tabLink {
    cursor: pointer;
    background-color: #35398e;
}

.display-container {
    background-color: grey;
    /*height: 400px;*/
}

.alignText {
    cursor: pointer;
}

.electric-pug {
    border-width: 1px;
    box-shadow: none;
    text-shadow: none;
    padding: 2px 5px;
    margin-left: 50px;
    border-color: #f3f3f3;
}

.h6 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    color: #333333;
    font-size: 13pt;
    font-weight: 700;
}

.size-box {
    background-color: #E7E6E6;
}

.size {
    cursor: pointer;
}

.btn{
    border: none;
}

